#page_faq{ width:1100px; margin:50px auto;}
 
.faq{text-align:center; margin:50px 0;  width:100%} 
.faq_box { width:1100px; margin:50px auto;}
.faqtop {border:1px solid #dcdcdc; text-align:center}    
   
#faq02{display:none}
#faq03{display:none}
#faq04{display:none} 
#faq05{display:none}
#faq06{display:none}
#faq07{display:none}

.tabs li{cursor:pointer}
.tab-content{
  display: none;
}    
.tab-content.current{
  display: inherit;
}
    
/* ec-base-tab */
.ec-base-tab{width:1100px}    
.ec-base-tab:after { content:""; display:block; clear:both; }
.ec-base-tab ul { font-size:14px; line-height:14px; word-break:break-all; text-align:center;font-family: 'Roboto','Noto Sans KR','맑은고딕','Malgun Gothic','돋움',Dotum,AppleGothic,sans-serif;}
.ec-base-tab li {
    display: inline-block;
    text-align: center;
    border: 0;
    width: 134px;
    height: 37px;
    background: #f8f8f8;
    line-height: 36px;
    border-radius:9px;
    color:#000;
    margin-right:5px;
    }
.ec-base-tab .tabs .current{ background:#fce9ea}   
.ec-base-tab .gFlex2 { flex:2; }
.ec-base-tab a { display:flex; flex-basis:100%; justify-content:center; flex-wrap:nowrap; align-items:center; padding:5px 10px; }
.ec-base-tab a .number  { display:inline-block; padding-left:5px; }
.ec-base-tab li:first-child { border-left:0; }
.ec-base-tab li.selected a { border-left:0; font-weight:bold; color:#fffffd; background:#4a5164; }
.ec-base-tab:after {
    content: "";
    display: block;
    clear: both;
}
    
/* ec-base-tab typeSub  */
.ec-base-tab.typeSub ul { border-top:1px solid #c8cdd2; border-bottom:1px solid #c8cdd2; }
.ec-base-tab.typeSub ul > li { background:#f1f1f1; border-left:1px solid #c8cdd2; }
.ec-base-tab.typeSub .selected a { margin:0 0 -1px; color:#333; background:#fff; }    
    
.faqlist {border-top:1px solid #BCBCBC; color:#666666; font-size:12px; line-height:180%;}
.faqlist dl {margin:0; padding:0;}
.faqlist dt {border-bottom:1px solid #DADADA; background:url(/web/upload/q.gif) no-repeat 25px center; padding:5px 0 5px 50px; cursor:pointer; margin:0; text-align:left}
.faqlist dd {border-bottom:1px solid #DADADA; background:url(/web/upload/a.gif) no-repeat 25px 25px #F3F4F6; padding:25px 0 25px 50px; margin:0; text-align:left} 
        
#accordian dl dd {
	display: none;
}
#accordian dt.active dd {
	display: block;
}

/*ad_*.jsp*/
@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic");

body {
  	font-size : 16px;   
  	font-family : "Nanum Gothic", Verdana, sans-serif;
  	margin  :  20px;
  	margin-top : 20px;
}

div#wrap {  	
	width : 680px;
	margin : 0 auto; 
}	

/*///// 공통 적용 CSS 시작 /////*/
h1 { 
	text-align : center;
}

a:link {
	text-decoration: none;	
	color : darkblue;	
}
a:hover {
	text-decoration: none;
	color : darkblue;
	font-weight : bold;	
}
a:visited {
	text-decoration: none;
	color : darkblue;	
}
/*///// 공통 적용 CSS 끝 /////*/


/*///// list 시작 /////*/
.listTbl, #listInnerTbl {
	width : 600px;
	margin : 0 auto;
}

#listInnerTbl {
	border : 1px solid black;
}

#listInnerTbl td {
	padding : 10px;
	text-align : center;
	
}

#listInnerTbl td.rangeLeft {
	text-align : left;
}

form table {
	margin : 0 auto;
}
/*///// list 끝   /////*/



/*///// read 시작 /////*/
.readTbl, #readInnerTbl {
	width : 600px;
	margin : 0 auto;
}

#readInnerTbl {
	border : 1px solid black;
	border-collapse: collapse;
}

#readInnerTbl td {
	padding : 10px;
	text-align : center;
	border : 1px solid black;	
}

#readInnerTbl td.rangeLeft {
	text-align : left;
}

#readInnerTbl td.rangeTop {
	vertical-align : top;	
}

#readInnerTbl td.itemSet {
	background-color: #ccc;
	font-weight: bold;
	color : brown;
}

/*///// read 끝   /////*/


/*///// update(글수정) 시작 /////*/

#updateInnerTbl {
	width : 600px;
	margin : 0 auto;
	border : 1px solid black;
	border-collapse: collapse;
}

#updateInnerTbl td {
	padding : 10px;
	border : 1px solid black;	
}

#updateFrm textarea {
	width : 100%;
	height : 100px;
}

#updateInnerTbl td.itemSet {
	background-color: #ccc;
	font-weight: bold;
	text-align : center;
	color : brown;
}

#updateInnerTbl td.rangeCenter {	
	text-align : center;
}
/*///// update(글수정) 끝 /////*/

/*///// replay(답변글) 시작 /////*/

#replyInnerTbl {
	width : 600px;
	margin : 0 auto;
	border : 1px solid black;
	border-collapse: collapse;
} 

#replyInnerTbl td:first-child {
	width : 80px;
	text-align: right;
	padding-right: 10px;
	
	background-color: #ccc;
	font-weight: bold;
	color : brown;
}

#replyInnerTbl td {
	padding : 10px;
	border : 1px solid black;	
}

#replyFrm textarea {
	width : 100%;
	height : 100px;
}

#replyInnerTbl td.rangeCenter {	
	text-align : center;
  	background : #efe5d0;
}
/*///// replay(답변글) 끝 /////*/

